#container {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  height: 800px;
  margin: auto;
  margin-top: 50px;
  outline: 2px solid;
}

.square {
  /* Divide the width equally */
  flex: 0 0 calc(100% / 16);
  /* Adjust height for equal-sized squares */
  height: calc(100% / 16);
  outline: 1px solid;
}
